# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/asset-manifest.json
build/favicon.ico
build/index.html
build/manifest.json
build/precache-manifest.48b048d0cfe28a773b0b7270248d3b0b.js
build/service-worker.js
build/static/css/1.65069440.chunk.css
build/static/css/1.65069440.chunk.css.map
build/static/css/main.758b336e.chunk.css
build/static/css/main.758b336e.chunk.css.map
build/static/js/1.2781c244.chunk.js
build/static/js/1.2781c244.chunk.js.map
build/static/js/main.5a7012c9.chunk.js
build/static/js/main.5a7012c9.chunk.js.map
build/static/js/runtime~main.acc54b31.js
build/static/js/runtime~main.acc54b31.js.map
build/static/media/ashman.9915613e.mp4
build/static/media/beach.0101c803.jpg
build/static/media/brand-icons.13db00b7.eot
build/static/media/brand-icons.a046592b.woff
build/static/media/brand-icons.a1a749e8.svg
build/static/media/brand-icons.c5ebe0b3.ttf
build/static/media/brand-icons.e8c322de.woff2
build/static/media/farmpic.467ae765.jpg
build/static/media/flags.9c74e172.png
build/static/media/icons.0ab54153.woff2
build/static/media/icons.8e3c7f55.eot
build/static/media/icons.962a1bf3.svg
build/static/media/icons.b87b9ba5.ttf
build/static/media/icons.faff9214.woff
build/static/media/logo.6c3b7956.svg
build/static/media/outline-icons.701ae6ab.eot
build/static/media/outline-icons.82f60bd0.svg
build/static/media/outline-icons.ad97afd3.ttf
build/static/media/outline-icons.cd6c777f.woff2
build/static/media/outline-icons.ef60a4f6.woff
build/static/media/tetris.0553c65e.mp4
build/static/media/video.ab9e7474.mp4
build/asset-manifest.json
build/favicon.ico
build/index.html
build/manifest.json
build/precache-manifest.48b048d0cfe28a773b0b7270248d3b0b.js
build/service-worker.js
build/static/css/1.65069440.chunk.css
build/static/css/1.65069440.chunk.css.map
build/static/css/main.758b336e.chunk.css
build/static/css/main.758b336e.chunk.css.map
build/static/js/1.2781c244.chunk.js
build/static/js/1.2781c244.chunk.js.map
build/static/js/main.5a7012c9.chunk.js
build/static/js/main.5a7012c9.chunk.js.map
build/static/js/runtime~main.acc54b31.js
build/static/js/runtime~main.acc54b31.js.map
build/static/media/ashman.9915613e.mp4
build/static/media/beach.0101c803.jpg
build/static/media/brand-icons.13db00b7.eot
build/static/media/brand-icons.a046592b.woff
build/static/media/brand-icons.a1a749e8.svg
build/static/media/brand-icons.c5ebe0b3.ttf
build/static/media/brand-icons.e8c322de.woff2
build/static/media/farmpic.467ae765.jpg
build/static/media/flags.9c74e172.png
build/static/media/icons.0ab54153.woff2
build/static/media/icons.8e3c7f55.eot
build/static/media/icons.962a1bf3.svg
build/static/media/icons.b87b9ba5.ttf
build/static/media/icons.faff9214.woff
build/static/media/logo.6c3b7956.svg
build/static/media/outline-icons.701ae6ab.eot
build/static/media/outline-icons.82f60bd0.svg
build/static/media/outline-icons.ad97afd3.ttf
build/static/media/outline-icons.cd6c777f.woff2
build/static/media/outline-icons.ef60a4f6.woff
build/static/media/tetris.0553c65e.mp4
build/static/media/video.ab9e7474.mp4
