$primary: #003200;
$blue: deepskyblue;
$lime: #00ff00;
$yellow: #fff000;

#about .ui.segment {
  border: 1px solid $yellow;
  
  h2 {
    color: $lime;
  }

  .text {
    color: $primary;
  }
}

#projects .ui.segments:not(.horizontal) {
  border: 1px solid $blue;
  
  .ui.horizontal.segments {
    background-color: transparent;
  }

  h2 {
    color: $yellow;
  }

  .text {
    color: $primary;
  }

  .react-player > video {
    border-radius: .3125em;
    max-height: 55vh;
  }
}

#contact .ui.segment {
  border: 1px solid $lime;

  p {
    color: $primary;
  }

  span {
    font-style: italic;
  }

  a {
    color: $blue;
  }

  h2 {
    color: $blue;
  }
  
  label {
    color: $primary;
  }
}

.ui {
  .top.fixed.menu {
    left: inherit;
    
    #App-logo {
      width: 1.75rem;
      margin: -.25rem;
    }
  }

  .header {
    padding: 1em 0;

    > .image:not(.icon), > img {
      width: auto;
      height: 300px;
    }

    h1.inverted {
      font-size: 2.5rem;
      text-align: center;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.05) 100%);
    
      h2, h3, h4, h5, h6 {
        font-family: "Monaco", monospace;
      }
    }

    i.icon:only-child {
      font-size: 2rem;
      padding-top: .5em;
      width: 1em;
      height: 1.25em;
    }
  }

  .horizontal.segments, .horizontal.segments > .segment {
    border: none;
    box-shadow: none;
    min-width: 50%;

    img {
      margin-bottom: .25rem;
    }
  }
}

.text {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1.5rem;
  font-size: .9rem;
}

h4:first-child {
  margin-top: 2rem;
}

.top.shade::before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0.2) 100%);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -25%;
}

.fullscreen-bg {
  background: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;

  video {
    object-fit: cover;
  }
}
.page-height {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.no-pad {
  padding: 0;
  width: 100vw;
}

.header.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.section {
  margin: 5em 0;
}

hr {
  visibility: hidden;
}

footer {
  text-align: center;
  padding: 5em;
  
  hr {
    visibility: visible;
    margin: 2em;
  }
}

@media (max-width: 497px) {
  #about .ui.segment, #projects .ui.segments:not(.horizontal), #contact .ui.segment {
    border: 0;
  }

  p {
    font-size: 1em;
  }

  .ui {
    .top.fixed.menu {
      margin: 0 -.5rem;
    }

    .header h1.inverted {
      font-size: 2rem;
    }

    .segments {
      flex-flow: wrap;
    }

    [class*='very padded'].segment, .segments {
      padding: 1em 0;
      box-shadow: unset;

      .text {
        max-width: 90%;
        margin: auto;
      }

      h2 {
        margin: 0 1rem 1.5rem;
      }

      .right.floated.image, .right.floated.images, .medium.image, .large.image {
        float: none;
        margin: -1rem auto 1rem;
        width: 90%;
      }
    }

    .form {
      max-width: 90%;
      margin: auto;
    }
  }

  #projects .ui.segments:not(.horizontal) .react-player > video {
    max-width: 90%;
    max-height: 100%;
    margin: -1rem 1rem 1rem;
  }

  .section {
    margin: 1em;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    visibility: visible;
  }
}

